@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');


@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-courgette {
  font-family: 'Bonheur Royale', cursive;
}

/* FOR WORK COMPONENT TO SHOWCASE PROJECT */
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        #1DA1F2,
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}

.ani-gradient {
  background: linear-gradient(90deg, #6fc1f7, #ce5be7, #b07aec, #FFD700, #6fc1f7, #1DA1F2);
  background-size: 800%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 11s ease infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.ani-glow {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #1DA1F2;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

.ani-glow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.ani-glow:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.ani-glow:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.text-shadow {
  text-shadow: 1px 1px 2px #1DA1F2, 0 0 1em #1DA1F2, 0 0 0.2em black;
}

.highlight-button {
  background-color: white;
 /* border: 2px solid #ADD8E6;*/
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight : bold ;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.highlight-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.highlight-button:active {
    color: #000
}

.highlight-button:active:after {
    background: transparent;
}

.highlight-button:hover:before {
    opacity: 1;
}

.highlight-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-91 {
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), 
  inset 0px 3px 9px rgba(255, 255, 255, 0.3), 
  inset 0px 1px 1px rgba(255, 255, 255, 0.6), 
  inset 0px -8px 36px rgba(0, 0, 0, 0.3), 
  inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



